*{ margin: 0;padding: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}
.highlightoff{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body{ background-color: rgba(235,235,235,1); }

a{
	color:rgba(0,0,255,1);
}

.container{
	position: relative;
	padding: 10px;
}


input{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border-radius: 0;
}

.header{
	max-width: 400px;
	margin:0px auto;

}
.header h1{
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.header p{}

.header .pokemongoLogoContainer{
	height: 140px;
	max-width: 210px;
	margin: 0 auto;
}

.header .pokemongoLogo{
	height: inherit; 
	width: inherit;
	background-image: url(img/pokemon-go-logo-transparent.png);
	background-size:contain;
	background-repeat: no-repeat;
}



.form_div{
	position: relative;
	padding: 10px 0px;
	max-width: 400px;
	margin: 0 auto;
}

.form_div input[type="number"]{
	font-size: 16px;
	margin: 5px 0px;
	padding: 10px;
	width: 100%;
	border:1px solid #AAA;
	border-radius: 1px;
	outline: none;
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,.10);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.10);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.10);
}
.form_div input[type="number"]:hover{
	border-color: #777;
}
.form_div input[type="number"]:focus{
	/*border-color: rgba(40,152,255,1);*/
	border-color: rgba(240,0,0,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.2);
}


label{
	display: inline-block;
	margin: 10px 0px 0px 0px;
	font-size: 18px;
}

.redButton{
	margin: 20px 0px 0px 0px;
	cursor: pointer;
	font-size: 18px;
	width: 100%;
	height: 50px;
	outline:none;
	border: 1px solid;
	color:#FFF;
	background-color: rgba(238,21,21,1);
	border-color: rgba(240,0,0,1);
	border-radius: 2px;
}
.redButton:hover{
	-moz-box-shadow: inset 0px 0px 500px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0px 0px 500px rgba(0,0,0,.15);
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.15);
}
.redButton:active{
	-moz-box-shadow: inset 0px 0px 500px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0px 0px 500px rgba(0,0,0,.3);
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.3);
}

.redButton.small{
	margin: 0px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	background-color: rgba(238,21,21,.9);
}

.language_option{
	margin: 0 auto;
	margin-top: 20px;
	max-width: 400px;
	padding:15px;
}
.language_option p{
	margin:0px 10px;
	float: left;
	line-height: 40px;
}
.language_option select{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 1px solid #555;
}



/* RESULTS */
.results_container{
	margin: 0 auto;
	max-width: 800px;
}




.results_main_header{
	padding:15px; 
}
.results_main_header a{}

.results_main_header p{
	margin:15px 0px;
}

.results_ul_header{
	position: relative;
	border: 1px solid rgba(34,34,36,1);
	border-width: 1px 0px;
	background-color: rgba(238,21,21,1);
}
.results_ul_header .first,.results_ul_header .second{
	color: #FFF;
}


.results_ul{
	position: relative;
}

.results_ul li{
	background-color: #FFF;
	position: relative;
	border: 1px solid rgba(34,34,36,1);
	border-width: 0px 0px 1px 0px;
	overflow: hidden;
}

@media (min-width: 800px) {
  .results_container{
  	/*border: 1px solid black;*/
  }
  .results_ul_header{
  	border-width: 1px;
  }
  .results_ul li{
  	border-width: 0px 1px 1px;
  }
}




.results_ul_header .first,.results_ul li .first{
	border: 1px solid rgba(34,34,36,1);
	border-width: 0px 1px 0px 0px;
	position: absolute;
	width: 40px;
	line-height: 40px;
	text-align: center;
}

.results_ul_header .second,.results_ul li .second{
	position: relative;
	margin: 0px 0px 0px 50px;
	line-height: 40px;
}
.results_ul li .three{
	position: absolute;
	padding: 8px 5px;
	width: 90px;
	right: 0px;top: 0px;
	height: 40px;
	text-align: center;
	/*border:1px solid black;*/
}
.results_ul li .three div{}


.results_ul li .rewards{
	margin: 0px 0px 0px 39px;
	padding: 10px 10px 10px 11px;
	border: 1px solid rgba(34,34,36,1);
	border-width: 0px 0px 0px 1px;
}

.results_share_div{
	padding: 15px; 
	/*border: 1px solid black;*/
}

.twitter-share-button,.fb-share-button{
	display: inline-block;
	float: left;
	margin: 0px 15px 0px 0px;padding: 0px;
}

.fb-share-button{
}
.twitter-share-button{
}


.results_footer_div{
	margin: 0px 0px 15px 0px;
	padding:15px; 
}
.results_footer_div p{
	font-size: 11px;
}



/* rawdata */
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #999;
}


.rawdata_table tr{
	/*background-color: blue;*/
	/*height: 40px;*/
}

.rawdata_table th{
	text-align: left;
	padding: 3px 6px; 
	background-color: rgba(255,0,0,.8);
	color: #FFF;
}

.rawdata_table td{
	padding: 3px 6px;
}










